*{
    box-sizing: border-box;
}
body{
    background: url("http://images5.fanpop.com/image/photos/25900000/Make-it-bubble-powerpuff-girls-25913469-500-236.gif");
}
p{
    display: none;
}
.jumbotron{
    background-color: #cccccc;
    padding-top: 5px;
}
#randomArea{
    background: turquoise;
    color:tomato;  
    width:100%;
    text-align: center;
    padding:13% 5% 13% 5%;
    margin-bottom: 15px;
    height:90%;
}
#winLose{
    background: rgb(71, 77, 76);
    color:tomato;  
    width:100%;
    text-align: center;
    padding:2% 2% 2% 2%;
    margin-bottom: 15px;
    height:90%;
}
#scoreArea{
    background: turquoise;
    color:tomato;  
    width:100%;
    text-align: center;
    padding:6% 5% 6% 5%;
    margin-bottom: 15px;
    height:90%;
}
img{
    height:120px;
    width:100%;
}